.main-title{
    padding-top: 0.5rem;
}

#sideNav .navbar-nav .nav-item .nav-link {
    font-weight: 800;
    letter-spacing: 0.05rem;
    text-transform: uppercase;
}
#sideNav .navbar-toggler:focus {
outline-color: #d48a6e;
}
#sideNav .navbar-brand {
    display: flex;
    margin: auto auto 0;
    /* padding: 0.5rem; */
}
#sideNav .navbar-brand .img-profile {
    max-width: 10rem;
    max-height: 10rem;
    border: 0.5rem solid rgba(255, 255, 255, 0.2);
}
#sideNav .navbar-collapse {
    display: flex;
    align-items: flex-start;
    flex-grow: 0;
    width: 100%;
    margin-bottom: auto;
}
#sideNav .navbar-collapse .navbar-nav {
    flex-direction: column;
    width: 100%;
}
#sideNav .navbar-collapse .navbar-nav .nav-item {
    display: block;
}
#sideNav .navbar-collapse .navbar-nav .nav-item .nav-link {
    display: block;
}

/* Ensuring navbar-nav lists items vertically */
#sideNav .navbar-nav {
    display: flex;
    flex-direction: column;
    padding-left: 0;
}
  
#sideNav {
   /* position: fixed;*/
    top: 0;
    left: 0;
    height: 100%;
    background-color:#ececec;  /* Sidebar background color */
    border-right: 1px solid #F8EDEB;
}

.nav-link:hover{
    color: #5e5e5e; /* Change text color to black on hover */
    transition: color 0.2s ease-in-out; /* Smooth transition for color change */
}

#content {
    display: inline-block;
    height: 100vh;
    overflow-x: hidden;
    padding-left: 1 rem; 
}

#header{
    height: 6rem;   
    
}

#main-content{
    padding-top: 1rem;
    height: 100%;
    overflow-x: hidden;
}


#background{
    width: 100%;
}

#container {
    position: relative; /* Set the parent container to relative */
  }
  

.App {
   /* background-image: url(./pages/header_background.jpeg);*/
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh; /* This sets the height to the full viewport height */
    width: 100vw; /* This sets the width to the full viewport width */
    position: absolute; /* Ensures the div covers the entire screen */
    top: 0;
    left: 0;
    overflow-x: hidden;
}

#scorecards{
    padding: 2rem;
}
.bargraph{
    padding-top: 3rem; 
    border-color: #D8E2DC;
    border-width: .02rem;
    padding-left: 1rem; 
    border: 2px solid #ccc; /* Optional: adds a border */
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth transition for transform and shadow */
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3); /* Initial subtle shadow for depth */
}

  .jumbotron{
    background-size: 100%;
    filter: brightness(50%);
    max-height: 6rem;

  }