.SigninFrame_1_95 {
  z-index: 1;
  width: min(321px, 100%);
  min-height: 48px;
  background-color: transparent;
  border: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
  flex-wrap: wrap;
  gap: 10px;
}

.TEXT_1_97 {
  z-index: 2;
  color: rgba(0, 0, 0, 1);
  font-family: Inter;
  font-weight: 700;
  font-size: 14px;
  text-align: left;
  vertical-align: top;
  letter-spacing: 0px;
  line-height: 16.94318199157715px;
}
