.Toggle_1_52 {
  transform: translate(287px, 561px) rotate(0deg) scale(1, 1);
  transform-origin: 1px 1px;
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  min-height: 20px;
  background-color: transparent;
  border: none;
}
